/* utilities class for animtion */
/* very important */
.animate{
    animation-duration: 1s;
}
/* animate */
/* duration--2s */
.duration--2s{
    animation-duration: 2s;
}
/* timing-function */
.ease-in{
    animation: ease-in;
}
.ease-out{
    animation: ease-out;
}
/* animation delay */
.delay--2s{
    animation-delay: 2s;
}
.delay--1s{
    animation-delay: 1s;
}
.delay--0_2s{
    animation-delay: 0.2s;
}
.delay--0_5s{
    animation-delay: 0.5s;
}
/* animation iteration-count */
.times-1{
    animation-iteration-count: 1;
}
.infinite{
    animation-iteration-count: infinite;
}
/* animation direction */
/* for transform given to element to apply before and after animation is executed */
.direction-reverse{
    animation-direction: reverse;
}
/* animation */
/* ============================ keyframes ============================ */
@keyframes opacity--o {
    0%,10%,20%,30%,40%,50%,60%,70%,80%,90% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.opacity--o{
    animation-name: opacity--o;
    animation-duration: 2s;
    animation-delay: 0.1ms;
}
@keyframes zoom {
    0%{
        transform: scale(0.2);
    }
    100%{
        transform: translate(100px) scale(1.5);
    }
}

.zoom-animate{
    animation-name: zoom;
}
/* zoom */
@keyframes slide-in-left {
    0%{
        transform:  scale(0.2);
    }
    100%{
        transform: translateX(90px);
    }
}

.slide-in-left{
    animation-name: slide-in-left;
    transform: translateX(30px);
}
/* in from left */
@keyframes slide-in-right {
    0%{
        transform:  scale(0.2);
    }
   100%{
        transform: translateX(-30px);
    }
}

.slide-in-right{
    animation-name: slide-in-right;
    transform: translateX(-30px);
}
/* in from right */
/* ============================ keyframes ============================ */

/* paragraph texts classes */

/* heading */
.heading{
    font-weight: bolder;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.heading-2{
    font-weight: bold;
    font-size: large;
}
.heading-small{
    font-size: small;
    font-weight: bolder;
}
.names{
    font-size: smaller;
    color: grey;
}

.paragraph{
    font-size: medium;
    font-weight: 500;
    }
/*  */
.main-column-2{
    margin-top: 1rem;
}
.ad-region{
    background-color: red;
    max-height: 70px;
    min-height: 60px;
}

.verticle-line{
    border-right: 1px solid rgb(232, 226, 226);
    padding-bottom: -10px;
}
.img-div-main{
    float: right;
    width: 200px;
    max-height: auto;
    overflow: hidden;
    margin: 1.5em 0 0.5em 1em;
    position: relative;
    z-index: 1;
}
.border-bottom{
    border-bottom: 1px solid gray;
    margin-top: 10px;
}
.link-color{
    color: black;
    background-color: none;
}
.text-name-विचार{
    /* position: relative;
    top: -21px;
    left: 56px; */
    font-size: x-small;
}
.strong-row2{
    font-size: large;
}